@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins";
    color: white;
    margin: 0;
    user-select: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.card-nombre{
    display: grid;
    flex-wrap: nowrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-items: center;
}

.card-nombre > .texto{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    font-weight: 600;
}

.nombre{
    font-size: 8rem;
    letter-spacing: 0.5rem;
}

.apellidos{
    line-height: 0;
    font-size: 4rem;
    letter-spacing: -0.25rem;
}

.content{
    display: grid;
}

.card{
    display: grid;
    background-color: #333333;
    padding: 5rem 15vw 0 15vw;
    min-height: 90vh;
    justify-items: center;
    position: relative;
    align-items: start;
    align-content: space-between;
}

.btn{
    background: white;
    color: #333333;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.btn:hover{
    transition-duration: 250ms;
    transform: scale(1.05);
    transform-origin: center;
    cursor: pointer;
}

.imagen{
    height: 30vw;
    border-radius: 100%;
    margin: 0 2rem 0 5rem;
}

h2{
    font-size: 3rem;
    margin: 0;
}

.card-content{
    display: grid;
    width: 100%;
}

.etapa{
    background: #444444;
    padding: 2rem 3rem;
    border-radius: 0.25rem;
    display: grid;
    margin: 1rem 0 0 0;
}

.anyo{
    background-color: white;
    color: #333333;
    padding: 0.25rem 1em;
    border-radius: 2rem 2rem 2rem 2rem;
    width: fit-content;
    height: fit-content;
    font-size: 1.1rem;
    font-weight: 400;
}

.puesto{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
}

.logo{
    position: absolute;
    right: 2rem;
    height: 100%;
    max-width: 20vw;
}

.contenido-etapa{
    display: grid;
    position: relative;
}

.header{
    background-color: #222222;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    opacity: 0;
    z-index: 100;
}

.botones{
    background-color: #222222;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.btn-header{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
}

.btn-header:hover{
    transition-duration: 500ms;
    background-color: #111111;
    cursor: pointer;
}

.nombre-header{
    padding: 0.5rem 2rem;
    font-weight: 800;
    font-size: 1.5rem;
}

.btn-next{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 3rem;
}

.datos-contacto{
    background: #444444;
    padding: 2rem 3rem;
    border-radius: 0.25rem;
    display: flex;
    margin: 1rem 0 0 0;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.logo-social{
    height: 5rem;
    padding: 0.5rem;
    filter: grayscale(25%);
}

.logo-social:hover{
    filter: grayscale(0%);
}

.social-item{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.social-item:hover{
    transition-duration: 500ms;
    color: white;
}

.btns{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card-sobre-mi{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.institucion{
    font-weight: 200;
}

.header-movil, #menu{
    display: none;
}

.arrow{
    transform: translate(-50%,-50%);
}

.flecha{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 3rem;
}

.flecha:hover{
    cursor: pointer;
}

.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    border-bottom: 0.25rem solid #ffffff;
    border-right: 0.25rem solid #ffffff;
    transform: rotate(
            45deg);
    margin: -0.5rem;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

#typed{
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
}

.datos-contacto{
    user-select: text;
}

@media screen and (max-device-width: 425px) {

    body, p, span, a{
        font-size: 2.5rem;
        text-decoration: none;
    }

    h2{
        font-size: 5rem;
    }

    .btns{
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 5vh;
        /*justify-items: stretch;*/
    }

    .card-sobre-mi{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .imagen{
        height: 50vw;
        border-radius: 100%;
        margin: 5rem 0 0 0;
    }

    .card{
        padding: 12rem 5vw 0 5vw;
    }

    .etapa{
        padding: 4rem 4rem;
        border-radius: 1rem;
    }

    .anyo{
        display: inline-flex;
        font-size: 2.5rem;
        border-radius: 5rem 5rem 5rem 5rem;
        padding: 0.5rem 1em;
        height: fit-content;
        width: fit-content;
        min-width: fit-content;
    }

    .logo{
        position: absolute;
        right: 0;
        top: -6rem;
        max-height: 7rem;
    }

    .puesto{
        padding: 2rem 0;
        font-size: 3rem;
    }

    .institucion{
        font-size: 1.5rem;
    }

    .datos-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem 4rem;
        border-radius: 1rem;
    }

    .item-contacto{
        width: 100%;
    }

    .social-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .logo-social{
        margin-right: 2rem;
    }

    .btn{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 3rem;
        padding: 1rem 3rem;
    }

    .header{
        display: none;
    }

    #nav-icon3 {
        width: 60px;
        height: 45px;
        position: fixed;
        margin: 3rem;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 200;
    }

    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #ffffff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 18px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 36px;
    }

    #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .header-movil, #menu{
        display: block;
    }

    #menu.open{
        position: fixed;
        z-index: 50;
        transition: .15s ease-in-out;
        width: 100%;
        display: flex;
        justify-items: end;
        align-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    #menu{
        position: fixed;
        z-index: 50;
        transition: .15s ease-in-out;
        transition-delay: 0.25s;
        width: 0;
        height: 100vh;
        background-color: #222222;
        font-size: 3rem;
        display: flex;
        justify-items: end;
        align-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 6.9vh;
    }

    .btn-menu{
        transition: .15s ease-in-out;
        padding: 4rem 4rem 0 0;
        opacity: 0;
    }

    .btn-menu.open{
        transition: .15s ease-in-out;
        transition-delay: 0.25s;
        opacity: 100%;
    }

    .header-movil{
        background-color: #444444;
        height: 7vh;
        width: 100vw;
        top: 0;
        position: fixed;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 700;
    }

    .flecha{
        margin: 5vh;
    }

    .nombre{
        font-size: 12rem;
        letter-spacing: 1rem;
    }

    .apellidos{
        font-size: 6rem;
    }

    #typed{
        font-size: 3rem;
    }

    .arrow span{
        width: 2rem;
        height: 2rem;
    }


}
